<div class="row">
	<a href="" class="btn btn-default"> a simple btn</a>
</div>
<hr>
<div class="row">
	<a href="" class="btn btn-default"> a simple btn</a>
	<a href="" class="btn btn-primary"> a simple btn</a>
	<a href="" class="btn btn-info"> a simple btn</a>
	<a href="" class="btn btn-success"> a simple btn</a>
	<a href="" class="btn btn-warning"> a simple btn</a>
	<a href="" class="btn btn-danger"> a simple btn</a>
</div>
<hr>
<div class="row">
	<a href="" class="btn btn-info btn-lg"> a simple btn</a>
	<a href="" class="btn btn-info btn-sm"> a simple btn</a>
	<a href="" class="btn btn-info btn-xs"> a simple btn</a>
	<a href="" class="btn btn-info btn-xs btn-block"> a simple btn</a>
</div>
<hr>
<button type="button" class="btn btn-default">Button</button>
<input type="submit" class="btn btn-primary" value="input">

<hr>
<div class="row">
	<span class="glyphicon glyphicon-search"></span>
	<a href="" class="btn btn-default">
		<span class="glyphicon glyphicon-search"></span>
	</a>
	<a href="" class="btn btn-info btn-lg">
		<span class="glyphicon glyphicon-search"></span>
	</a>
</div>
