<form action="" role="form">
	<div class="form-group">
		<label for="form-elem-1">Label 1</label>
		<input type="text" id="form-elem-1" class="form-control">
	</div>
</form>

<form action="" role="form">
	<div class="form-group">
		<label for="form-elem-2">Label 2</label>
		<input type="text" id="form-elem-2" class="form-control">
	</div>
</form>

<hr>

<form action="" role="form" class="form-inline">
	<div class="form-group">
		<label for="form-elem-3" class="sr-only">Label 3</label>
		<input type="text" id="form-elem-3" class="form-control" placeholder="E-mail">
	</div>
	<div class="form-group">
		<label for="form-elem-3" class="sr-only">Label 4</label>
		<input type="password" id="form-elem-3" class="form-control" placeholder="Password">
	</div>

	<div class="checkbox">
		<label for=""><input type="checkbox"> Remember me</label>
	</div>

	<button type="button" class="btn btn-default">Sign In</button>
</form>