<!DOCTYPE html>
<html>
	<head>
	  <title>Simple CMS </title>
	</head>
	<body>
		<!-- before yield -->
		<%= yield %>
		<!-- after yield -->

		<%=link_to('ROAR','#', :onclick => "jsRoar('JavaScript'); return true;")%>

	</body>
</html>
